@charset "utf-8";
/* CSS Document */



body {
	margin:0px;
	padding:0px;
	font-family:  80%/1.45em "Trebuchet MS", "Helvetica", "sans-serif", "Arial";/*	color:#9C0;*/

}
/* margini */
img{
	border:0px;
}
h1, h2, h3, h4, h5, h6, p {
	margin:0px;
	padding:0px;
}
.infologin a:hover {
	color:#F00;
}
.infologin a, .infologin a:link, .infologin a:visited, .infologin a:active {
	color: #FFF;
	text-decoration: none;
}
/*

#contenitore {

	margin:0px;

	padding:0px;

	width:100%;

	height:100%;

}

*

/* barra stato */

#barra-stato {
	margin:0px;
	padding:2px;
	list-style-type: none;
	height:16px;
	font-size: 12px;
	background-color:#444;
	color:#FFF;
}
#barra-stato #colonna-left {
	float:left;
	margin:0px;
	padding:0px;
}
#barra-stato #colonna-logout {
	text-align:right;
	width:10%;
	height:100%;
	float:right;
	margin:0px;
	padding:0px 2px 0px 0px;
	color:#9F0;
}
/* barra myslidemenu */

#barra-myslidemenu {
	margin:0px;
	padding:0px;
	width:100%;
	background-color:#666;
	float:none;
	height:34px;
}
/* barra nome societa , poziaione applicazione */

#barra-cantiere {
	margin:0px;
	padding:0px;
	background-color:#9CF;
}
/* barra content */
#form table {
	/*width: 99.99%*/
    background-color:#EEF;
    
}
#form table table {
	/*width: 99.99%*/
	margin:4px 0 8px 0;
	padding: 2px;
	border:1px solid #CCF;    
	
}
form {
    padding:0px;
    margin:0px;
    /*display:inline;*/
}

input[type=text]{
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    background:url(../images/input_bg.gif);
    border:1px solid #aaa;
    color:#000;

    padding:4px;
    margin:6px 0;
}

input[type=password]{
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

	background:url(../images/input_bg.gif);
    border:1px solid #aaa;
    color:#000;
    padding:4px;
    margin:6px 0;

}

input[type=submit]{
    font-weight:bold;
    margin-left:14px;
	border: 1px solid #aaa;
	padding: 3px 7px;
	color: #000;
	text-decoration: none;
	background: #ddd;

    border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;

	text-shadow: 0px 1px 0px #fff;

    /*background-image: url(./themes/svg_gradient.php?from=ffffff&to=cccccc);*/
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
    background: -moz-linear-gradient(top,  #ffffff,  #cccccc);
    background: -o-linear-gradient(top,  #ffffff,  #cccccc);
    }


input:focus{
	position: relative;
    /*background-image: url(svg_gradient.php?from=cccccc&to=dddddd);*/
    background-size: 100% 100%;
    background:#FFA;
    cursor:text;
}
input:hover{
	position: relative;
    border:1px solid #000;
    cursor:text;
}

input:active{
	/*position: relative;
	top: 1px;
	left: 1px;*/
}
input[name=Impresa],textarea[name=Impresa]{
	/*color:#F00;*/
}

input[type=submit]:hover{	position: relative;
    /*background-image: url(svg_gradient.php?from=cccccc&to=dddddd);*/
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#dddddd));
    background: -moz-linear-gradient(top,  #cccccc,  #dddddd);
    background: -o-linear-gradient(top,  #cccccc,  #dddddd);
    cursor:pointer;
}

input[type=submit]:active{
	/*position: relative;
	top: 1px;
	left: 1px;*/
}
textarea {
    border:1px solid #CCC;
/*    overflow:           visible;
    height:             6em;
    */
}
textarea:focus{	position: relative;
    /*background-image: url(svg_gradient.php?from=cccccc&to=dddddd);*/
    background-size: 100% 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FeA), to(#FFA));
    background: -moz-linear-gradient(top,  #FeA,  #FFA);
    background: -o-linear-gradient(top,  #FeA,  #FFA);
    background-color: #FFA;
	cursor:text;
}
textarea:hover{	position: relative;
    /*background-image: url(svg_gradient.php?from=cccccc&to=dddddd);*/
    border:1px solid #000;
        cursor:text;
}

textarea:active{	
	/*position: relative;
	top: 1px;
	left: 1px;*/
}

select{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

    -moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
    box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#000;
    padding:3px;
    background:url(../images/input_bg.gif)
    font-size:.9em;
}
select:focus{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

    -moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
    box-shadow:0 1px 2px #ddd;

    border:1px solid #aaa;
    color:#000;
    padding:3px;
    background:#FFA;
    

}
select:hover{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

    -moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
    box-shadow:0 1px 2px #ddd;

    border:1px solid #000;
    color:#000;
    padding:3px;
    

}

select[multiple] {
    background: #fff;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff), color-stop(0.8, #f1f1f1), to(#fbfbfb));
    background: -webkit-linear-gradient(#fff, #f1f1f1 80%, #fbfbfb);
    background: -moz-linear-gradient(#fff, #f1f1f1 80%, #fbfbfb);
    /* none for Opera 11.10 as <option>s always have solid white background */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f2f2f2");
}

fieldset {
    margin-top: 1em;
    border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    padding:5px;
    border:             #aaa solid 1px;
    padding:            1.5em;
    background:         #eee;
    text-shadow:0 1px 0 #fff;
	-moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}

fieldset fieldset {
    margin:             0.8em;
    background:#fff;
    border:1px solid #aaa;
    background:none repeat scroll 0 0 #E8E8E8;

}

fieldset legend {
    font-weight:        bold;
    color:              #444;
    padding:5px 10px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border:1px solid #aaa;
    background-color:   #fff;
    -moz-box-shadow:3px 3px 15px #bbb;
    -webkit-box-shadow:3px 3px 15px #bbb;
    box-shadow:3px 3px 15px #bbb;
}

button {
    display:            inline;
}

td[class=input_cell] > textarea[readonly="readonly"],
input[type="text"][readonly="readonly"],
input[type="file"][readonly="readonly"], 
textarea[readonly="readonly"], 
textarea[disabled], 
textarea[readonly="readonly"]:focus, 
textarea[readonly="readonly"]:hover,
select[readonly="readonly"] {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

    -moz-box-shadow:0 1px 2px #EEF;
	-webkit-box-shadow:0 1px 2px #EEF;
    box-shadow:0 1px 2px #EEF;
	border: 0px;
	margin:0px;
	padding:4px;
	border: 1px solid #EEF;
    background:#EEF;
	color: black;
    cursor: default  ;
  	font-size:bold;
  	
    
}
textarea[readonly="readonly"], 
textarea[readonly="readonly"]:focus, 
textarea[readonly="readonly"]:hover {
    overflow: hidden;
    display: block;
    height: 5em;
    
}
td.subtitulo input#filter_Ruolodipendenti,
td.subtitulo input#filter_Ruolodipditta {
	    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

    -moz-box-shadow:0 1px 2px #fff;
	-webkit-box-shadow:0 1px 2px #fff;
    box-shadow:0 1px 2px #fff;
	border: 0px;
	margin:0px;
	padding:4px;
	border: 1px solid #FFF;
    background:#FFF;
	color: #FFF;
    cursor: default;
}

tr#Rowallegato td{
 /* ok
 border-bottom:2px dashed #DDD;
 */
	
}
#content {
	width:100%;
	background-color:#f6f6f6;
	margin:0px;
	padding:0 0 32px 0;
	/*	border-top: 8px solid #FFF;
*/	border-bottom: 4px solid #CCC;
	min-height: 800px;
	background: url(../images/backgound-bianco-segno.png) repeat 0px -58px;
	font-size: 0.8em;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
}
#content input, #content select, #content textarea, #content label {
	/*font-size: 0.9em;*/
}
#content input, #content textarea {
	/*width: 99%;*/
}
#content label {
	text-align: left;
	font-family:  80%/1.45em "Trebuchet MS", "Helvetica", "sans-serif", "Arial";
}
#content2a {
	width:100%;
	padding:12px 0;
	background-color:#f6f6f6;
	float:left;
	display:block;
	min-height: 400px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background: url(../images/sfumatura_cyan_bg.jpg) repeat-x -200px left;
	
}
#content2{
	clear:both;
	float:left;
	border-left:1px solid #DDD;
}
#content2 table {
	clear:both;
	float:left;
	width:100%;
	margin:0px;
	padding:0 0 32px 0;
	padding:4px 0 0 16px;

}
.ui-dialog {
	font-size: 0.9em;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.ui-datepicker {
	font-size: 0.9em;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#colonne-area {
	margin:0px;
	padding:0px;
	list-style-type: none;
	height:100%;
}
#content #colonna-left {
	width:150px;
	height:100%;
	float:left;
	margin:0px;
	padding:0px;
	background-color:#f6f6f6;
}
#content #colonna-right {
	margin-left: 151px;
	height:100%;
	background-color:#f6f6f6;
}
#menuelenco {
	text-align: center;
}
#menuelenco, #menuelenco ul {
	margin:0px;
	padding:0px;
	height:100%;
}
#menuelenco li {
	margin:0px;
	padding:0px;
	list-style-type: none;
	width:100%;
}
/* barra aiuto */

#barra-aiuto {
	margin:0px;
	padding:0px;
	background-color:#888;
}
/* set */

#clear {
	clear:both;
}
.clear {
	clear:both;
}
.margine {
	margin:0px;
	padding: 4px;
	overflow:hidden
}
.marginescroll {
	margin:0px;
	padding:4px;
	overflow:auto;
}
.margscavato {
	margin:0px;
	padding:32px;
	background-color:#666
}
.bkg_rosso {
	margin:8px;
	padding: 4px;
	background-color:#FFC6C6;
	border:#CCC 1px dashed;
}
.bkg_verde {
	margin:8px;
	padding: 4px;
	background-color:#D2FFA6;
	border:#CCC 1px dashed;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
#barra-l-max {
	width:100%;
}
/* decorazioni */

.gridTs {
	border-bottom:#444 1px dashed;
}






/*

 * div.titolo = titolo modulo

 * div.info = senz nuvoletta

 * div.nuvoleta = box con cornice tratteggiata

 * div.nuvoletagrigia = di colore grigio

 * div.nuvoletalicenza = colore della societa che ha acquistato la licenza

 * div.hreftop = link a name

 * div.spazio = spazio

 * div.spazio2 = spazio doppio

 *

 */

h1.h1titolo {
	line-height: 40px;
}
div.pathtesto {
	min-height: 26px;
	padding:12px 0px 16px 8px;
	background-image: url(../images/backgound-path-azioni.png);
	border-top: 4px solid #97DDFF;
	border-bottom: 4px solid #97DDFF;
}
div.pathtesto h4 a {
	text-decoration: none;
	color:#000;
	cursor: text;
}
div.pathtesto h4 a:hover {
	text-decoration: none;
	color:#000;
	cursor: text;
}
.left {
	width:25%;
}
.mid {
	width:49.9%;
}
.right {
	width:25%;
}
.colonne {
	width: 100%;
	padding: 4px 0 32px 0;
	margin: 0;
}
.colonne ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.colonne ul li {
	position: relative;
	display: inline;
	float: left;
}
.colonne ul li div ul {
	margin: 0px;
	padding: 0px;
}
.colonne ul li div ul {
	display: block;
	float:none;
}
.colonne ul li div div.spazio {
	margin: 8px 0 0 0;
}
.colonne ul li div div.spazio2 {
	margin: 16px 0 0 0;
}
.colonne ul li div div.hreftop {
	font-size: 80%;
	display:block;
	margin: 8px 0 16px 0;
	clear:both;
	text-align:right;
}
.colonne ul li div div.hreftop a {
	color:#000;
	text-decoration: none;
}
.colonne ul li div div.hreftop a:hover {
	color:#F00;
	text-decoration: underline;
}
.colonne ul li div ul li {
	float:none;
	display: block;
	width:100%;
}
a.menuhome {
	display: block;
	border-bottom: 1px dashed #C39C4E;
	padding: 5px 0px 2px 40px;
	text-decoration: none;
	color: #666666;
	margin:0;
}
a.menuhome:hover {
	display: block;
	color:#006F00;
	background-color:#FFF;
	background: #eeeeee url(../images/link.gif) no-repeat 10px 4px;
}
.menuhomeselect {
	display: block;
	color:#006F00;
	background-color: #FF6;
	background: #eeeeee url(../images/sim.png) no-repeat 10px 4px;
}
.cornice {
	margin: 4px;
	padding: 8px;
	border:#999 1px solid;
	background-color:#FFF;
	min-height: 400px;
}
.titolo {
	font-size: 90%;
	text-transform: uppercase;
	display:block;
	padding: 4px 0 4px 0;
	background-color: #ccc;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	clear:both;
}
.info {
	font-size: 80%;
	display: block;
	border-bottom: 1px dashed #fff;
	padding: 16px 0px 2px 40px;
	text-decoration: none;
	color: #444;
}
.nuvoletta, .nuvolettagrigia, .nuvolettalicenza, .logo {
	font-size: 80%;
	display: block;
	margin: 16px 0;
	padding: 16px;
	text-decoration: none;
	color: #333;
	font-style: italic;
}
.nuvoletta {
	background: #FF9;
	border: 1px dashed #E6E600;
}
.nuvolettagrigia {
	background: #DDD;
	border: 1px dashed #666;
}
.nuvolettalicenza {
	background: #DFFFBF;
	border: 1px dashed #52A400;
}
.logo {
	border: 1px dashed #3FF;
	background: url(/licenza/log.png) no-repeat;
}
.areaidivenziata {
	margin:0px;
	padding:4px;
	border: 1px solid #09C;
	background: #FC0;/* url(/images/backgound-bianco-segno.png);*/
}
td {
	margin:8px;
	padding:0;
	border: hidden;
	text-align:left;
}
.label_cell {
	margin:0;
	padding:6px;
	border-top: 2px solid #ddd;
}
.input_cell {
	margin:0px;
	padding:2px 0 4px 0;
	border-top: 1px solid #DDD;
}
input.subtitolo {
	width: 99.99%;
	text-align:right;
}
ul.ui-tabs-nav {
	clear:both;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
	font-size: 0.9em;
	line-height: 0.9em;
}

td.subtitulo input#filter_idImpresacantieredipendenti {
    color:#F00;
    font-style:bold;
    width:50%;
    overflow:hidden;
}