@charset "utf-8";
/* CSS Document */
*,html,body {border:0px;margin: 0px;padding:0px;font-family: Arial;}
table, tr, td{border:1px;margin: 0px;padding:0px;}
table{width: 85mm;height: 53mm}
td {border-bottom: 1px dashed #ccc;vertical-align: top;}
img {border: 1px solid #ccc;height: 27mm;display:block; margin: 2mm}
.fototessera {height: 27mm;overflow: hidden}
.impresa, .dipendente  {font-family: Arial;font-size: 7pt;height: 16px;}
.barcode  {font-size: 8pt;height: 36px;
.impresa span, .dipendente span, .barcode span  {float: right}
