/* 
    Document   : site
    Created on : 3-feb-2010, 11.19.10
    Author     : Italo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body,html {
margin: 0 5px;
font-family: Verdana,sans-serif;
}
h1 {
font-size: 1.4em;
color: #008000;
}
a {
color: #008000;
}
/* Table */
th {
text-align: left;
}
/*td, th {
padding-right: 5px;
width: 95%;
}
*/
/* style form */
form dt {
width: 100px;
display: block;
float: left;
clear: left;
}
form dd {
margin-left: 0;
float: left;
}
form #submitbutton {
margin-left: 100px;
}
/*
input.text
  {
  font-size: 10px;
  width: 95%;
  padding: 3px;
  border: 1px solid #999999;
}
*/