@charset "utf-8";
/* CSS Document 
h1 {
	display: block;
	font-size: 90%;
	padding: 3px 0 5px 3px;
	color: #333333;
	margin: 0px;
	width:100%;
	border-bottom: 1px dashed #333;
}

form {
	}

tr {
	vertical-align:top;
	}

td {
	font-size: 80%;
	border-bottom: 1px dashed #C39C4E;
	*//*padding: 5px 0px 2px 40px;
	text-decoration: none;
	color: #666666;
	}
*/