<?xml version="1.0" encoding="UTF-8"?>
<permissions>
    <acl>
        <roles>
            <role name="base" />
            <role name="Guest" />
            <role name="User" inherits="Guest" />
            <role name="Info" inherits="Guest" />
            <role name="Secretary" inherits="Guest" />
            <role name="Admin" inherits="Guest" />
            <role name="Project" inherits="Guest" />
            <role name="ProjectOwner" inherits="Guest" />
            <role name="PM-CM" inherits="Guest" />
            <role name="SuperIT" inherits="Guest" />
            <role name="SuperLU" inherits="Guest" />            
        </roles>
        <profiles>
            <base>
                <Guest>view</Guest>
                <User>view</User>
                <PM-CM>view</PM-CM>
                <Info>view</Info>
                <Secretary>view</Secretary>
                <Admin>allow</Admin>
                <Project>allow</Project>
                <ProjectOwner>allow</ProjectOwner>
                <SuperIT>allow</SuperIT>
                <SuperLU>allow</SuperLU>
            </base>
            <pers>
                <Guest>view</Guest>
                <User>view</User>
                <PM-CM>view</PM-CM>
                <Info>view</Info>
                <Secretary>allow</Secretary>
                <Admin>allow</Admin>
                <Project>allow</Project>
                <ProjectOwner>allow</ProjectOwner>
                <SuperIT>allow</SuperIT>
                <SuperLU>allow</SuperLU>
            </pers>
            <admin>
                <Guest>view</Guest>
                <User>view</User>
                <PM-CM>view</PM-CM>
                <Info>view</Info>
                <Secretary>view</Secretary>
                <Admin>allow</Admin>
                <Project>deny</Project>
                <ProjectOwner>allow</ProjectOwner>
                <SuperIT>allow</SuperIT>
                <SuperLU>allow</SuperLU>
            </admin>
            <all>
                <Guest>allow</Guest>
                <User>allow</User>
                <PM-CM>allow</PM-CM>
                <Info>allow</Info>
                <Secretary>allow</Secretary>
                <Admin>allow</Admin>
                <Project>allow</Project>
                <ProjectOwner>allow</ProjectOwner>
                <SuperIT>allow</SuperIT>
                <SuperLU>allow</SuperLU>
            </all>
        </profiles>
        <resources>
            <aiuto>
                <index>
                    <profile>base</profile>
                </index>
                <note>
                    <profile>base</profile>
                </note>                
                <save-note>
                    <profile>base</profile>
                </save-note>                
                <aiuto>
                    <profile>base</profile>
                </aiuto>
            </aiuto>
            <area>
                <index>
                    <profile>base</profile>
<!--                    <Guest>view</Guest>
                    <User>view</User>
                    <PM-CM>view</PM-CM>
                    <Info>view</Info>
                    <Secretary>view</Secretary>
                    <Admin>allow</Admin>
                    <Project>allow</Project>
                    <ProjectOwner>allow</ProjectOwner>
                    <SuperIT>allow</SuperIT>
                    <SuperLU>allow</SuperLU>-->
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <delete>
                    <profile>base</profile>
                </delete>
                <edit>
                    <profile>base</profile>
                </edit>
                <new>
                    <profile>base</profile>
                </new>
            </area>
            <autorizz>
                <index>
                    <profile>admin</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <edit>
                    <profile>admin</profile>
                </edit>
                <swap-active>
                    <profile>base</profile>
                </swap-active>
            </autorizz>
            <business-units>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
            </business-units>
            <calendars>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
            </calendars>
            <cash-rate-detail>
                <index>
                    <profile>base</profile>
                </index>
                <list-rates>
                    <profile>base</profile>
                </list-rates>                
                <get-cash-row>
                    <profile>base</profile>
                </get-cash-row>
                <save-cash-row>
                    <profile>base</profile>
                </save-cash-row>
                <del-cash-row>
                    <profile>base</profile>
                </del-cash-row>
            </cash-rate-detail>
            <cash-po-detail>
                <get-cash-po-row>
                    <profile>base</profile>
                </get-cash-po-row>
                <index>
                    <profile>base</profile>
                </index>
                <list-po>
                    <profile>base</profile>
                </list-po>                
                <list-po2>
                    <profile>base</profile>
                </list-po2>                
                <save-cash-po-row>
                    <profile>base</profile>
                </save-cash-po-row>
                <del-cash-po-row>
                    <profile>base</profile>
                </del-cash-po-row>
            </cash-po-detail>
            <charts>
                <index>
                    <profile>base</profile>
                </index>
                <plot>
                    <profile>base</profile>
                </plot>
                <gantt>
                    <profile>base</profile>
                </gantt>
            </charts>
            <clienti>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
                <print>
                    <profile>base</profile>
                </print>
            </clienti>
            <company-rate>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
            </company-rate>
            <contratti>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
                <new>
                    <profile>base</profile>
                </new>
                <print>
                    <profile>base</profile>
                </print>
            </contratti>
            <corsi>
                <index>
                    <profile>base</profile>
                </index>
                <import>
                    <profile>base</profile>
                </import>
                <export>
                    <profile>base</profile>
                </export>
                <list>
                    <profile>base</profile>
                </list>
                <savepubb>
                    <profile>base</profile>
                </savepubb>
                <impcorsisti>
                    <profile>base</profile>
                </impcorsisti>
                <impatt>
                    <profile>base</profile>
                </impatt>
            </corsi>
            <crud>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <edit>
                    <profile>base</profile>
                </edit>
                <view>
                    <profile>base</profile>
                </view>
                <new>
                    <profile>base</profile>
                </new>
                <choosedb>
                    <profile>base</profile>
                </choosedb>
                <choosetables>
                    <profile>base</profile>
                </choosetables>
                <choosefields>
                    <profile>base</profile>
                </choosefields>
                <fields>
                    <profile>base</profile>
                </fields>
            </crud>
            <Crud>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <edit>
                    <profile>base</profile>
                </edit>
                <view>
                    <profile>base</profile>
                </view>
                <new>
                    <profile>base</profile>
                </new>
                <choosedb>
                    <profile>base</profile>
                </choosedb>
                <choosetables>
                    <profile>base</profile>
                </choosetables>
                <choosefields>
                    <profile>base</profile>
                </choosefields>
                <fields>
                    <profile>base</profile>
                </fields>
            </Crud>
            <!--<Crud extends="crud"></Crud>-->
            <d3-test>
                <index>
                    <profile>base</profile>
                </index>
                <vis>
                    <profile>base</profile>
                </vis>
            </d3-test>
            <dashboard>
                <index>
                    <profile>base</profile>
                </index>
                <riassunto>
                    <profile>base</profile>
                </riassunto>
                <gantt>
                    <profile>base</profile>
                </gantt>
                <tot-graph>
                    <profile>base</profile>
                </tot-graph>
                <prog-graph>
                    <profile>base</profile>
                </prog-graph>
                <print>
                    <profile>base</profile>
                </print>
                <save-proj1-dash>
                    <profile>base</profile>
                </save-proj1-dash>
                <save-proj2-dash>
                    <profile>base</profile>
                </save-proj2-dash>
            </dashboard>
            <dpi>
                <index>
                    <profile>base</profile>
                </index>
            <error>
            </error>
                <error>
                    <profile>base</profile>
                </error>
            </dpi>
            <eventi>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
            </eventi>
            <error>
                <error>
                    <profile>base</profile>
                </error>
            </error>
            <forn-pers>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <print>
                    <profile>base</profile>
                </print>
            </forn-pers>
            <giorni-lav>
                <index>
                    <profile>base</profile>
                </index>
                <grid>
                    <profile>base</profile>
                </grid>
                <grid-eff>
                    <profile>base</profile>
                </grid-eff>
                <grid-spese>
                    <profile>base</profile>
                </grid-spese>
                <savegrid>
                    <profile>base</profile>
                </savegrid>
                <effettivi>
                    <profile>base</profile>
                </effettivi>
                <get-detail>
                    <profile>base</profile>
                </get-detail>
                <save-detail>
                    <profile>base</profile>
                </save-detail>
                <save-note>
                    <profile>base</profile>
                </save-note>
                <disp-dett-rev>
                    <profile>base</profile>
                </disp-dett-rev>                
                <list-rates>
                    <profile>base</profile>
                </list-rates>                
                <ping-plan>
                    <profile>base</profile>
                </ping-plan>
                <get-cash-row>
                    <profile>base</profile>
                </get-cash-row>
                <save-cash-row>
                    <profile>base</profile>
                </save-cash-row>
                <del-cash-row>
                    <profile>base</profile>
                </del-cash-row>
            </giorni-lav>
            <group-qual>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
            </group-qual>
            <index>
                <index>
                    <profile>base</profile>
                </index>
                <newCantieri>
                    <profile>base</profile>
                </newCantieri>
                <editevent>
                    <profile>base</profile>
                </editevent>
                    <Guest>
                    <profile>base</profile>
                </Guest>
                <superUser>
                    <profile>base</profile>
                </superUser>
                <admin>
                    <profile>base</profile>
                </admin>
                <resp>
                    <profile>base</profile>
                </resp>
                <savemoddoc>
                    <profile>base</profile>
                </savemoddoc>
                <approvaimp>
                    <profile>base</profile>
                </approvaimp>
                <updateall>
                    <profile>base</profile>
                </updateall>
                <area>
                    <profile>base</profile>
                </area>
            </index>
            <inv-services>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
            </inv-services>
            <jobs>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <edit>
                    <profile>base</profile>
                </edit>
                <new>
                    <profile>base</profile>
                </new>
                <delete>
                    <profile>base</profile>
                </delete>
            </jobs>
            <login>
                <index>
                    <profile>base</profile>
                </index>
                <logout>
                    <base>allow</base>
                    <profile>all</profile>
                </logout>
                <getanag>
                    <profile>base</profile>
                </getanag>
                <update>
                    <profile>base</profile>
                </update>
            </login>
            <manutenzione>
                <index>
                    <profile>base</profile>
                </index>
                <test>
                    <profile>base</profile>
                </test>
            </manutenzione>
            <new-users>
                <index>
                    <profile>base</profile>
                </index>
                <edit>
                    <profile>base</profile>
                </edit>
                <edit-password>
                    <profile>base</profile>
                </edit-password>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <delete>
                    <profile>base</profile>
                </delete>
            </new-users>
            <out-excel>
                <index>
                    <profile>base</profile>
                </index>
                <print-sheet>
                    <profile>base</profile>
                </print-sheet>
                <out-sheet>
                    <profile>base</profile>
                </out-sheet>
            </out-excel>
            <oldgiornilav>
                <index>
                    <profile>base</profile>
                </index>
                <grid>
                    <profile>base</profile>
                </grid>
                <savegrid>
                    <profile>base</profile>
                </savegrid>
                <effettivi>
                    <profile>base</profile>
                </effettivi>
            </oldgiornilav>
            <passport>
                <index>
                    <profile>base</profile>
                </index>
                <edit>
                    <profile>pers</profile>
                </edit>
                <editvisto>
                    <profile>pers</profile>
                </editvisto>
                <list>
                    <profile>pers</profile>
                </list>
                <listvisto>
                    <profile>pers</profile>
                </listvisto>
                <newvisto>
                    <profile>pers</profile>
                </newvisto>
                <delvisto>
                    <profile>pers</profile>
                </delvisto>
                <new>
                    <profile>pers</profile>
                </new>
                <pass>
                    <profile>pers</profile>
                </pass>
                <visa>
                    <profile>pers</profile>
                </visa>
                <crop>
                    <profile>pers</profile>
                </crop>
            </passport>
            <personale>
                <index>
                    <profile>pers</profile>
                </index>
                <list>
                    <profile>pers</profile>
                </list>
                <list-jobs-dett>
                    <profile>pers</profile>
                </list-jobs-dett>
                <delete>
                    <profile>pers</profile>
                </delete>
                <new>
                    <profile>pers</profile>
                </new>
                <edit>
                    <profile>pers</profile>
                </edit>
                <print>
                    <profile>pers</profile>
                </print>
                <print-gantt>
                    <profile>pers</profile>
                </print-gantt>
                <print-jpeg>
                    <profile>pers</profile>
                </print-jpeg>
                <riassunto>
                    <profile>pers</profile>
                </riassunto>
                <save-pers1-riass>
                    <profile>pers</profile>
                </save-pers1-riass>
                <save-visa-riass>
                    <profile>pers</profile>
                </save-visa-riass>
                <save-pers2-riass>
                    <profile>pers</profile>
                </save-pers2-riass>
                <save-pass-riass>
                    <profile>pers</profile>
                </save-pass-riass>
                <new-pass-riass>
                    <profile>pers</profile>
                </new-pass-riass>
                <save-foto-riass>
                    <profile>pers</profile>
                </save-foto-riass>
            </personale>
            <new-pers>
                <index>
                    <profile>pers</profile>
                </index>
            </new-pers>
            <import-cv>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
                <print>
                    <profile>base</profile>
                </print>
            </import-cv>
            <prog-steps>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <gantt>
                    <profile>base</profile>
                </gantt>
                <delete>
                    <profile>base</profile>
                </delete>
                <print>
                    <profile>base</profile>
                </print>
            </prog-steps>
            <progetti>
                <delete>
                    <profile>base</profile>
                </delete>
                <delete-contract>
                    <profile>base</profile>
                </delete-contract>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <new-contract>
                    <profile>base</profile>
                </new-contract>
                <edit>
                    <profile>base</profile>
                </edit>
                <edit-contract>
                    <profile>base</profile>
                </edit-contract>
                <edit-both>
                    <profile>base</profile>
                </edit-both>
                <save-proj1-riass>
                    <profile>base</profile>
                </save-proj1-riass>
                <save-proj2-riass>
                    <profile>base</profile>
                </save-proj2-riass>
                <gantt>
                    <profile>base</profile>
                </gantt>
                <print>
                    <profile>base</profile>
                </print>
            </progetti>
            <published>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
            </published>
            <qualifiche>
                <delete>
                    <profile>base</profile>
                </delete>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <print>
                    <profile>base</profile>
                </print>
            </qualifiche>
            <reports>
                <bar-graph>
                    <profile>base</profile>
                </bar-graph>
                <dett-report>
                    <profile>base</profile>
                </dett-report>
                <jobs-plan>
                    <profile>base</profile>
                </jobs-plan>
                <tot-graph>
                    <profile>base</profile>
                </tot-graph>
                <tot-report>
                    <profile>base</profile>
                </tot-report>
                <tot-rep-graph>
                    <profile>base</profile>
                </tot-rep-graph>
                <out-excel>
                    <profile>base</profile>
                </out-excel>
                <print-sheet>
                    <profile>base</profile>
                </print-sheet>
            </reports>
            <richieste>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <print>
                    <profile>base</profile>
                </print>
                <delete>
                    <profile>base</profile>
                </delete>
            </richieste>
            <schemalav>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <edit>
                    <profile>base</profile>
                </edit>
                <new>
                    <profile>base</profile>
                </new>
            </schemalav>
            <sendmail>
                <index>
                    <profile>base</profile>
                </index>
                <mail>
                    <profile>base</profile>
                </mail>
            </sendmail>
            <spese-mese>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <edit>
                    <profile>base</profile>
                </edit>
                <delete>
                    <profile>base</profile>
                </delete>
                <new>
                    <profile>base</profile>
                </new>
                <new-wp>
                    <profile>base</profile>
                </new-wp>
                <list-detail>
                    <profile>base</profile>
                </list-detail>
                <new-detail>
                    <profile>base</profile>
                </new-detail>
                <edit-detail>
                    <profile>base</profile>
                </edit-detail>
            </spese-mese>
            <struttura>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <list-steps>
                    <profile>base</profile>
                </list-steps>
                <new-step>
                    <profile>base</profile>
                </new-step>
                <edit-step>
                    <profile>base</profile>
                </edit-step>
                <list-req>
                    <profile>base</profile>
                </list-req>
                <new-req>
                    <profile>base</profile>
                </new-req>
                <edit-req>
                    <profile>base</profile>
                </edit-req>
            </struttura>
            <utenti>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
            </utenti>
            <valute>
                <delete>
                    <profile>base</profile>
                </delete>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
                <print>
                    <profile>base</profile>
                </print>
            </valute>
            <visa-type>
                <index>
                    <profile>base</profile>
                </index>
                <list>
                    <profile>base</profile>
                </list>
                <new>
                    <profile>base</profile>
                </new>
                <edit>
                    <profile>base</profile>
                </edit>
            </visa-type>
            <service>
                <index>
                    <profile>base</profile>
                </index>
                <list-actions>
                    <profile>base</profile>
                </list-actions>
                <read-acl>
                    <profile>base</profile>
                </read-acl>
                <test-svg>
                    <profile>base</profile>
                </test-svg>
                <access-denied>
                    <profile>all</profile>
                </access-denied>
                <nofile>
                    <profile>all</profile>
                </nofile>
                <excel-demo>
                    <All>allow</All>
<!--                    <Guest>allow</Guest>
                    <User>allow</User>
                    <PM-CM>allow</PM-CM>
                    <Info>allow</Info>
                    <Secretary>allow</Secretary>
                    <Admin>allow</Admin>
                    <Project>allow</Project>
                    <ProjectOwner>allow</ProjectOwner>
                    <SuperIT>allow</SuperIT>
                    <SuperLU>allow</SuperLU>-->
                </excel-demo>
            </service>
        </resources>
    </acl>
</permissions>